<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-md-9 col-sm-6 text-primary">
      <h3>
        <i class="fas fa-users"></i> &nbsp; User List
      </h3>
    </div>
    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
      <button class="btn btn-primary" (click)="onCreateUser()">
        <i class="fa fa-plus"></i> &nbsp; New User
      </button>
    </div>
  </div>
  <hr><br/>
  <div class="row" *ngIf="!showListLoader">
    <div class="col-md-4 col-sm-6">
      <label>Resident name</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchName">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <label>Flat</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchFlat">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <label>Building</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchBuilding">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row" *ngIf="!showListLoader">
    <div class="col-md-12 col-sm-12 table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Resident Name</th>
            <th>Flat</th>
            <th>Building</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredUserList | paginate: { id: 'pager',
          itemsPerPage: 10,
          currentPage: p }; let i = index;">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.flat}}</td>
              <td>{{item.building}}</td>
              <td><i class="far fa-eye" style="cursor: pointer" (click)="showDetails(item)"
                data-toggle="modal" data-target="#detailModal"></i></td>
              <td><i class="fas fa-user-edit" style="cursor: pointer" (click)="editButtonClick(item.$key)"></i></td>
              <td><i class="fas fa-user-times text-danger" style="cursor: pointer" (click)="onRemoveUser(item.$key)"
                data-toggle="modal" data-target="#deleteModal"></i></td>
          </tr>
        </tbody>
      </table>

      <pagination-controls  id="pager"
                      (pageChange)="p = $event"
                      autoHide="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
    </pagination-controls>

    </div>
  </div>
  <br/><br/>
  <div class="row" *ngIf="showListLoader">
    <div class="col-md-12 col-sm-12">
        <div class="text-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
    </div>
  </div>
</div>

<!-- ####################################### User Deletion Confirmation Modal ####################################### -->

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-primary">
        <h5 class="modal-title">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="RemoveUser();" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ####################################### User Deletion Confirmation Modal ####################################### -->


<!-- ####################################### User Detail Confirmation Modal ####################################### -->

<div class="modal" tabindex="-1" role="dialog" id="detailModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title"><i class="fas fa-user"></i> &nbsp; {{detailedUser?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white" >&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" value="{{detailedUser?.name}}" id="name" disabled>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                  <label for="flat">Flat</label>
                  <input type="text" class="form-control" value="{{detailedUser?.flat}}" id="flat" disabled>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                  <label for="buildingName">Building name</label>
                  <input type="text" class="form-control" value="{{detailedUser?.building}}" id="buildingName" disabled>
              </div>
              <div class="form-group col-md-3 col-sm-6">
                  <label for="carpet">Carpet Area</label>
                  <input type="text" class="form-control" value="{{detailedUser?.carpetarea}}" id="carpet" disabled>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="housetype">House type</label>
                <input type="text" class="form-control" value="{{detailedUser?.housetype}}" id="housetype" disabled>
              </div>
              <div class="form-group col-md-3">
                  <label for="extraFeatures">Extra Features</label>
                  <input type="text" class="form-control" value="{{detailedUser?.extrafeatures}}" id="extraFeatures" disabled>
              </div>
              <div class="form-group col-md-3">
                    <label for="parking">Parking</label>
                    <input type="text" class="form-control" value="{{detailedUser?.parking}}" id="parking" disabled>
              </div>
              <div class="form-group col-md-3">
                      <label for="parkingslot">Parking slot no</label>
                      <input type="text" class="form-control" value="{{detailedUser?.slotno}}" id="parkingslot" disabled>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="parkingsticker">Parking sticker no.</label>
                  <input type="text" class="form-control" value="{{detailedUser?.stickerno}}" id="parkingsticker" disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="vehicle">Vehicle Model</label>
                    <input type="text" class="form-control" value="{{detailedUser?.vmodel}}" id="vehicle" disabled>
                </div>
                <div class="form-group col-md-3">
                      <label for="wheelerType">2/4 Wheeler</label>
                      <input type="text" class="form-control" value="{{detailedUser?.twofourwheel}}" id="wheelerType" disabled>
                </div>
                <div class="form-group col-md-3">
                        <label for="email">Email Id</label>
                        <input type="text" class="form-control" value="{{detailedUser?.emailid}}" id="email" disabled>
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="mobile">Mobile No.</label>
                    <input type="text" class="form-control" value="{{detailedUser?.mobile}}" id="mobile" disabled>
                  </div>
                  <div class="form-group col-md-3">
                      <label for="landline">Landline</label>
                      <input type="text" class="form-control" value="{{detailedUser?.landline}}" id="landline" disabled>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ####################################### User Detail Confirmation Modal ####################################### -->
