<div class="container-fluid mt-5 ml-md-5">
  <div class="row">
    <div class="col-md-10 col-sm-6 text-primary">
      <h3>
        <i class="icon-notice"></i> &nbsp; Notices
       </h3>
    </div>
    <div class="col-md-2" *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn()">
      <button class="btn btn-primary" (click)="onCreateNotice()">
       <i class="fa fa-plus"></i> &nbsp; Create Notice
        </button>
    </div>
  </div>
  <hr><br>
  <div class="row" *ngIf="!showLoader">
    <div class="col-md-3 col-sm-6">
      <label>Title</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchTitle">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row" *ngIf="!showLoader">
    <div class="col-md-12 col-sm-12 table-responsive">
       <table class="table table-hover">
         <thead>
           <tr>
             <th>Sr No.</th>
             <th>Title</th>
             <th>Description</th>
             <th>Date</th>
             <th>Type</th>
             <th>Details</th>
             <th *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn()">Edit</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let item of filteredNoticeList | paginate: { id: 'pager',
           itemsPerPage: 10,
           currentPage: p }; let i = index;">
             <td>{{i+1}}</td>
             <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{item.noticeTitle}}</td>
             <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" >{{item.noticeText}}</td>
             <td>{{item.date}}</td>
             <td>{{item.noticeType}}</td>
             <td>
               <!-- <i class="icon-details" style="cursor: pointer" (click)="onShowDetails(item)"
               data-toggle="modal" data-target="#detailModal"></i> -->
               <button class="btn btn-secondary" style="border-radius: 4px;" (click)="onShowDetails(item)"
               data-toggle="modal" data-target="#detailModal">
                 Details
               </button>
             </td>
             <td *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn()">
               <!-- <i class="icon-edit" style="cursor: pointer" (click)="editButtonClick(item.$key)"></i></td> -->
               <button class="btn btn-outline-primary" style="border-radius: 4px;" (click)="editButtonClick(item.$key)">
                Edit
              </button>
           </tr>
         </tbody>
       </table>
       <pagination-controls  id="pager"
                      (pageChange)="p = $event"
                      autoHide="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
    </div>
  </div>
  <br/><br/>
  <div class="row" *ngIf="showLoader">
    <div class="col-md-12 col-sm-12">
        <div class="text-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
    </div>
  </div>
</div>

<!-- ####################################### Complaint Detail Confirmation Modal ####################################### -->

<div class="modal" tabindex="-1" role="dialog" id="detailModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="icon-complaints mr-2"></i> {{detailedNotice?.day}} &nbsp;,  {{detailedNotice?.date}} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white" >&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" disabled id="title" value="{{detailedNotice?.noticeTitle}}">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="status">Notice type</label>
                    <input type="text" class="form-control" disabled id="status" value="{{detailedNotice?.noticeType}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="ac">Notice Description</label>
                    <textarea type="text" class="form-control" disabled id="ac" rows="6"
                    value="{{detailedNotice?.noticeText}}"></textarea>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ####################################### Complaint Detail Confirmation Modal ####################################### -->
