<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-primary border-right text-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center">
          <img src="../../assets/logo.png" height="80px" width="64.4px" class="">
          <br/><br/>
          <h5 style="margin: 0; padding: 0">Housing & Commercial</h5>
          <h5>Society Management</h5>
        </div>
      <!-- <div class="sidebar-heading">Society Management </div> -->
      <br/>
      <div class="list-group list-group-flush">
        <!-- <div class="contact_info"  *ngIf="authService.isLoggedIn()">

                <div class="card-body" style="background: #f8f9fa;">
                  <p class="card-text" style="text-align: center;">
                    <img class="rounded-circle" src="../../assets//pro.png" style="height: 100px; width: 80px;">
                  </p>
                  <p style="text-align: center;">{{authService?.userEmail}}</p>
                  <p style="text-align: center; margin: 0; padding: 0;">
                      <a class="btn btn-outline-dark" (click)="onLogout()" *ngIf="authService.isLoggedIn()">Logout</a>
                  </p>

                </div>

        </div> -->
        <a routerLink="/" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="!authService.isLoggedIn()"><i class="icon-admin-login mr-3" style="font-size: 1rem"></i>Login</a>



        <!-- <a routerLink="/userLogin" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="!authService.isLoggedIn() && !userloginService.isUserLoggedIn()"><i class="fas fa-sign-in-alt mr-3"></i>User Login</a> -->


        <a routerLink="/userProfile" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn() && authService.isUserLoggedIn()"><i class="icon-profile mr-3" style="font-size: 1rem"></i>User Profile</a>


        <a routerLink="/userContacts" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn() && authService.isUserLoggedIn()"><i class="icon-residents mr-3" style="font-size: 1rem"></i>Residents</a>

        <a routerLink="/userMaintenance" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn() && authService.isUserLoggedIn()"><i class="icon-maintenaince mr-3" style="font-size: 1rem"></i>Maintenance</a>

        <a routerLink="/userComplaints" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn() && authService.isUserLoggedIn()"><i class="icon-complaints mr-3" style="font-size: 1rem"></i>Complaints</a>


        <a routerLink="/users" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn()"><i class="icon-residents mr-3" style="font-size: 1rem"></i>Residents</a>

        <a routerLink="/notice" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn() || authService.isLoggedIn() && authService.isUserLoggedIn()">
        <i class="icon-notice mr-3" style="font-size: 1rem"></i> Notice</a>

        <a routerLink="/maintenanceList" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn()"> <i class="icon-maintenaince mr-3" style="font-size: 1rem"></i>Maintenance List</a>

        <a routerLink="/complaints" routerLinkActive="active" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn()  &&  authService.isAdminLoggedIn()"> <i class="icon-complaints mr-3" style="font-size: 1rem"></i> Complaints</a>

        <hr>
        <a style="cursor: pointer" class="list-group-item list-group-item-action bg-primary text-white"
        *ngIf="authService.isLoggedIn()" (click)="authService.logout()"> <i class="icon-log-out mr-3" style="font-size: 1rem"></i> Log Out</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light">
          <button class="btn btn-primary" id="menu-toggle">
              <i class="fas fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto mr-5">
              <li class="nav-item">
                <a class="nav-link text-primary">Contact team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-primary">Share and Earn</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary"
                 href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                  Payment
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Online</a>
                  <a class="dropdown-item">Upload Reciept</a>
                </div>
              </li>
            </ul>
          <!-- <p style="text-align: center;" class="text-primary ml-auto" *ngIf="authService.isLoggedIn()">{{userEmail}}</p> -->
          <!-- <p style="text-align: center;" class=" ml-auto" *ngIf="userloginService.isUserLoggedIn()">{{userloginService?.loggedInUser.name}}</p> -->
          <!-- <p *ngIf="authService.isLoggedIn()"  class="ml-auto">
              <button class="btn btn-primary ml-3" (click)="onLogout()"><i class="icon-log-out mr-3"></i>Logout</button>
          </p> -->
          <!-- <p *ngIf="userloginService.isUserLoggedIn()" class="ml-auto">
              <button class="btn btn-secondary ml-3" (click)="userloginService.userLogout()"><i class="fas fa-sign-out-alt mr-3"></i>Logout</button>
          </p> -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

      </nav>
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>


</body>

